html,
body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	background-color: #bfc1ce;

	a:-webkit-any-link {
		text-decoration: none;
	}
}

.video {
	width: 500px;
}